{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
    {% load gTTS %}
    {% load static %}

    <p><h1>{{ welcome }}</h1></p>
    <canvas id="historicChart" width="800" height="300"></canvas>

<br>
<hr>
<hr>
<hr>

    <canvas id="predictiveChart" width="800" height="300"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx1 = document.getElementById('historicChart').getContext('2d');
        const ctx2 = document.getElementById('predictiveChart').getContext('2d');

        const labels1 = {{ historic_dates|safe }};
        const labels2 = {{ predictive_dates|safe }};

        const data1 = {
          labels: labels1,
          datasets: [
            {
              label: 'Daily Rides on CTA',
              data: {{ historic_rides|safe }},
              borderColor: 'rgb(0, 55, 255)',
              backgroundColor: 'rgba(0, 55, 255, 0.5)',
            }
          ]
        };

        const realtimeChart = new Chart(ctx1, {
          type: 'line',
          data: data1,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'Impact of COVID Lockdown on Chicago Public Transport'
              }
            },
            scales: {
              y: {
                ticks: {
                  // forces step size to be 1 units
                  stepSize: 10000
                }
              }
            }
          },
        });

        const data2 = {
          labels: labels2,
          datasets: [
            {
              label: '2023 Rides on CTA',
              data: {{ predictive_rides|safe }},
              borderColor: 'rgb(0, 55, 255)',
              backgroundColor: 'rgba(0, 55, 255, 0.5)',
            },
            {
              label: '2023 Rides on CTA - Predictions',
              data: [{x: '2023-02', y: 19366395},
                    {x: '2023-03', y: 19379780},
                    {x: '2023-04', y: 20598945},
                    {x: '2023-05', y: 21322522},
                    {x: '2023-06', y: 22212405},
                    {x: '2023-07', y: 22147609}],
              borderColor: 'rgb(0, 255, 0)',
              backgroundColor: 'rgba(0, 255, 0, 0.5)',
              borderDash: [2,2]
            }
          ]
        };

        const realtimeChart2 = new Chart(ctx2, {
          type: 'line',
          data: data2,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'CTA Ridership: Predictive look at 2023'
              }
            },
            scales: {
              y: {
                ticks: {
                  // forces step size to be 1 units
                  stepSize: 10000
                }
              }
            }
          },
        });
    </script>

{% endblock %}