{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
    {% load gTTS %}
    {% load static %}

    <p><h1>{{ welcome }}</h1></p>
    <canvas id="historicChart" width="800" height="400"></canvas>
<hr>
<hr>
<hr>
<br>
<br>

    <canvas id="predictiveChart" width="800" height="400"></canvas>
<br>
<br>

<hr>
<hr>
<hr>
<br>
    <canvas id="correlationChart" width="800" height="400"></canvas>
<br>
<br>
<br>

    <canvas id="dailyCommutersChart" width="800" height="400"></canvas>
<br>
<br>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx1 = document.getElementById('historicChart').getContext('2d');
        const ctx2 = document.getElementById('predictiveChart').getContext('2d');
        const ctx4 = document.getElementById('correlationChart').getContext('2d');
        const ctx3 = document.getElementById('dailyCommutersChart').getContext('2d');

        const labels1 = {{ historic_dates|safe }};
        const labels2 = {{ predictive_dates|safe }};
        const labels4 = {{ corr|safe }};
        const labels3 = {{ days|safe }};

        const data1 = {
          labels: labels1,
          datasets: [
            {
              label: 'Daily Rides on CTA',
              data: {{ historic_rides|safe }},
              borderColor: 'rgb(0, 55, 255)',
              backgroundColor: 'rgba(0, 55, 255, 0.5)',
            }
          ]
        };

        const realtimeChart = new Chart(ctx1, {
          type: 'line',
          data: data1,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Impact of COVID Lockdown on Chicago Public Transport'
              }
            },
            scales: {
              x: {
                grid: {
                  display: false
                }
              },
              y: {
                ticks: {
                  // forces step size to be 1 units
                  stepSize: 10000
                }
              }
            }
          },
        });

        const data2 = {
          labels: labels2,
          datasets: [
            {
              label: 'Monthly Rides on CTA',
              data: {{ predictive_rides|safe }},
              borderColor: 'rgb(0, 55, 255)',
              backgroundColor: 'rgba(0, 55, 255, 0.5)',
            },
            {
              label: ['Monthly Rides on CTA - Forecast (based on Time Series ML model)'],
              data: [{x: '2023-02', y: 19366395},
                    {x: '2023-03', y: 19379780},
                    {x: '2023-04', y: 20598945},
                    {x: '2023-05', y: 21322522},
                    {x: '2023-06', y: 22212405},
                    {x: '2023-07', y: 22147609}],
              borderColor: 'rgb(0, 255, 0)',
              backgroundColor: 'rgba(0, 255, 0, 0.5)',
              borderDash: [2,2]
            }
          ]
        };

        const realtimeChart2 = new Chart(ctx2, {
          type: 'line',
          data: data2,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: ['CTA Ridership: Predictive look at 2023', '(updated: April 26th 2023)']
              }
            },
            scales: {
              x: {
                grid: {
                  display: false
                }
              },
              y: {
                ticks: {
                  // forces step size to be 1 units
                  stepSize: 10000
                }
              }
            }
          },
        });

        const data3 = {
          labels: labels3,
          datasets: [
            {
              label: '2020',
              data: {{ commutes_2020 |safe }}
            },
            {
              label: '2021',
              data: {{ commutes_2021 |safe }}
            },
            {
              label: '2022',
              data: {{ commutes_2022 |safe }}
            }
          ]
        };

        const realtimeChart3 = new Chart(ctx3, {
          type: 'bar',
          data: data3,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'What Days are Chicagoans Commuting'
              }
            },
            scales: {
              x: {
                grid: {
                  display: false
                }
              },
              y: {
                ticks: {
                  // forces step size to be 1 units
                  stepSize: 10000
                }
              }
            }
          },
        });

        const data4 = {
          labels: labels4,
          datasets: [
            {
              label: 'Total Monthly CTA Rides',
              data: {{ cta_rides |safe }},
              borderColor: 'rgb(0, 500, 0)',
              backgroundColor: 'rgb(0, 500, 0)',
              yAxisID: 'y2'
            },
            {
              label: 'Total Monthly TNP (Uber, Lyft, etc.) Rides',
              data: {{ tnp_rides |safe }},
              borderColor: 'rgb(0, 0, 500)',
              backgroundColor: 'rgb(0, 0, 500)',
              yAxisID: 'y'
            },
            {
              label: 'Total Monthly Road Crashes',
              data: {{ crashes |safe }},
              borderColor: 'rgb(500, 0, 0)',
              backgroundColor: 'rgb(500, 0, 0)',
              yAxisID: 'y1'
            }
          ]
        };

        const realtimeChart4 = new Chart(ctx4, {
          type: 'line',
          data: data4,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: ['Correlation:',
                'CTA ridership -- TNP (Uber, Lyft, etc.) rides -- Crashes']
              }
            },
            scales: {
              x: {
                grid: {
                  display: false
                }
              },
              y: {
                type: 'linear',
                display: true,
                position: 'left',
              },
              y2: {
                type: 'linear',
                display: true,
                position: 'left',
                // grid line settings
                grid: {
                  drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
              },
              y1: {
                type: 'linear',
                display: true,
                position: 'right',

                // grid line settings
                grid: {
                  drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
              },
            }
          },
        });
    </script>

{% endblock %}