<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crazy Libs</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fun/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/form.css' %}">

    {% if story %}
        <p><h1>Like Mad Libs... This is Crazy Libs!</h1></p>
        <p><h2>Fill the text boxes and create your own Crazy Story</h2></p>
        <p style="display:none" >Original lib is:  {{ story }} </p>
        <form class="form" action="{% url 'fun:generate_crazy_libs' %}" method="post">
        {% csrf_token %}
        {% if nouns %}
            Please fill out the nouns:
        {% for noun in nouns %}
            <input type="text" name="input_noun_{{ noun }}">
        {% endfor %}
        {% endif %}

        {% if verbs %}
            Please fill out the verbs:
        {% for verb in verbs %}
            <input type="text" name="input_verb_{{ verb }}">
        {% endfor %}
        {% endif %}

        {% if adjectives %}
            Please fill out the adjectives:
        {% for adjective in adjectives %}
            <input type="text" name="input_adjective_{{ adjective }}">
        {% endfor %}
        {% endif %}

            <input type="submit" class="btn btn-primary" type="text" value="Generate Crazy Lib">
        </form>

    {% elif crazyLibsObj %}

        <p><h2>Crazy Lib is:</h2>  {{ crazyLibsObj.crazy_story | safe}} </p>

        <p id="original_lib" style="display:none">Original Lib is:  {{ crazyLibsObj | safe}} </p>


        <input type="submit" class="btn btn-primary" value="See Original Lib" onclick="getElementById('original_lib').style.display = 'block';">

        <input type="submit" class="btn btn-primary" value="Do Another Lib" onclick="location.href = '/fun/crazy_libs';">
    {% endif %}
    <br><br><br>
    <input type="submit" class="btn btn-primary" value="Go To Hub" onclick="location.href = '/fun/';">
</body>
</html>