<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Number Guesser</title>
</head>
<body>

    <div id="fullDiv" width="800" height="400">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fun/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/form.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'fun/js/chart.js' %}">-->

    {% if secret_number %}
<!--        <p>Secret Number is:  {{ secret_number }} </p>-->
        <p><h1>Guess A Number</h1></p>
        <p><h2>Let's play a game of guessing a secret number between 1 to 100</h2></p>
        <form class="form" action="{% url 'fun:check_guess' %}" method="post">
        {% csrf_token %}
            <input type="number" name="Enter Your Guess" autofocus>
            <button class="btn btn-primary" name="check_guess">Check Guess</button>
        </form>
    {% elif error_message %}
            <p><h2> The entered value is not a number  </h2></p>
            <p><h2>Number of guesses:  {{ guess_count }} </h2></p>

            <form class="form" action="{% url 'fun:check_guess' %}" method="post">
            {% csrf_token %}
                <input type="number" name="Enter Your Guess" autofocus>
                <button class="btn btn-primary" name="check_guess">Check Guess</button>
                <p><h6 class="error">Please input a number</h6></p>
            </form>
    {% elif guess_number %}
        {% if guess_number.comparison == 'equal' %}
            <p><h2 class="success">YAY!!! You correctly guessed the secret number {{ guess_number.guessed_number }} in {{ guess_count }} guesses</h2></p>
            <form class="form" action="{% url 'fun:guess_number' %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Play Again">
            </form>


            <canvas id="myChart" width="800" height="400"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');

        const data = {
          labels: {{ user_guesses|safe }},
          datasets: [{
            type: 'bar',
            label: 'Other Players',
            data: {{ counts }},
            borderColor: 'rgb(0, 0, 255)',
            backgroundColor: 'rgba(0, 0, 255, 0.2)'
          }, {
            type: 'bubble',
            label: 'You',
            data: [{}, {
              x: {{ guess_count }} + ' guesses',
              y: 1,
              r: 10
            }],
            fill: true,
            backgroundColor: 'rgb(0, 0, 255)'
          }]
        };

        const myChart = new Chart(ctx, {
          type: 'scatter',
          data: data,
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
        });
    </script>
        {% else %}
            <p><h2>The guessed number  {{ guess_number.guessed_number }} is  {{ guess_number.comparison }} than the secret number</h2></p>
            <p><h2>Number of guesses:  {{ guess_count }} </h2></p>

            <form class="form" action="{% url 'fun:check_guess' %}" method="post">
            {% csrf_token %}
                <input type="number" name="Enter Your Guess" autofocus>
                <button class="btn btn-primary" name="check_guess">Check Guess</button>
            </form>
        {% endif %}
    {% else %}
        <p><h2>No data is available.</h2></p>
    {% endif %}
    <br><br><br>
    <input class="btn btn-primary" type="submit" value="Go To Hub" onclick="location.href = '/fun/';">
    </div>

</body>
</html>