{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
{% load gTTS %}
{% load static %}

    <h1>{{ welcome }}</h1>
    <img src="{% static 'images/hikethespike_logo1.png' %}">

    <p>
        Why did I make this game?
        First I thought That something realistic like a mountain climbing game where not only you have to climb up and raise your flag, but you also have to climb down. Then I started thinking out of the box made it 3D board with
        magnets and special boots also with magnets. I also made the rules look pretty cool. Finally, I made it have two rounds to make it longer and more fun!!!
    </p>

    <p>
        Hike the spike Rules and instructions
        This game is where you have to climb a mountain, raise your flag and climb back down safely.
        1. setup: place the board upright on the table then shuffle the cards and place them near the game board.
        2. Playing rules:
        3. Pick one player to play first.
        4. Each turn move up one space left or right.
        5. If you are on the side you can only move to the other side if you
        land on an action space, look at the same card and resolve the
        action then end your turn.
        6. If you land on a question mark, pick a card from the deck and
        resolve it. Now your turn is over.
        7. If you start your turn on the flag space pick two cards If both have
        a Flag on them then you have successfully raised your flag.
        8. If not, end your turn(You can try again next turn).
        9. On the start of your turn you have To start climbing down follow
        the same rules except move down instead of up.
        10. First to climb up and down 2 times wins! 11. And remember to have FUN!!!
    </p>
{% endblock %}