{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
    <div class="flex-middle flex-center">
            {% if welcome_message %}
                <h1>{{welcome_message|blue:"My Fun Hub!"|safe}}</h1>
            {% endif %}
    </div>
    <div style="padding: 10px;" class="flex-wrap">
<!--            <p><h2>A Simplistic Fun and Learn App</h2></p>-->
        <p><h2>
        Minimalistic Fun-Size Games
        </h2></p>
        <p>
        We hope that you enjoy playing the following games as much as we enjoyed creating them for you...
        </p>
    </div>
    <div style="padding: 10px;" class="flex-left">
        <div class="flex-vertical">
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Mystery Number Challenge" onclick="location.href = '/fun/guess_number';">
            </div>
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Numberdle" onclick="location.href = '/fun/numberdle';">
            </div>
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Countries Connection" onclick="location.href = '/fun/countries_connection';">
            </div>
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Crazy Libs" onclick="location.href = '/fun/crazy_libs';">
            </div>
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Spelling Bee" onclick="location.href = '/fun/spelling_bee';">
            </div>
        </div>
    </div>
    <p>Unlike other websites that use visual and audio over-stimulation, Fun Hub is a minimalistic website which focuses on the joy of playing games and learning
        without the artificial confetti and loud sounds.</p>
{% endblock %}
