<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fun/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/flex.css' %}">
  <title>Fun</title>
</head>
<body>
    {% load app_extras %}
    <div class="flex-vertical">
      <div class="flex-center flex-middle">
            {% if welcome_message %}
                <h1>{{welcome_message|blue:"My Fun Hub!"|safe}}</h1>
            {% endif %}
      </div>
        <div style="padding: 10px;" class="flex-wrap">
<!--            <p><h2>A Simplistic Fun and Learn App</h2></p>-->
            <p>
            Unlike other websites that use visual and audio over-stimulation,
            Fun Hub is a simplistic website which focuses on the joy of playing games and learning
            without the artificial confetti and loud sounds.
            </p>
            <p>
            We hope that you enjoy playing the following games as much as we enjoyed creating them for you...
            </p>
        </div>
    </div>
    <div style="padding: 10px;" class="flex-left">
        <div class="flex-vertical">
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Guess A Number" onclick="location.href = '/fun/guess_number';">
            </div>
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Crazy Lib" onclick="location.href = '/fun/crazy_libs';">
            </div>
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Numberdle" onclick="location.href = '/fun/numberdle';">
            </div>
            <div class="unit">
                <input class="btn btn-primary" type="submit" value="Countries Connection" onclick="location.href = '/fun/countries_connection';">
            </div>
        </div>
    </div>
</body>
</html>