<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Numberdle</title>

<!--    UI Inspiration: https://github.com/minhlong149/wordle-->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fun/wordle_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/hint.css' %}">
</head>
<body>
    <main>
        <p><h1>Wordle of Numbers... This is Numberdle!</h1></p>

        <div class="board">
    {% load static %}
    {% load app_extras %}
            {% if numberdle_obj %}


                    {% if numberdle_obj.correct_guesses == 5 %}
                    <p><h2 class="success">YAAY! You guessed all 5 numbers correctly in {{numberdle_obj.guesses}} guesses!</h2></p>
                    <input type="submit" class="btn btn-primary" value="New Game" onclick="location.href = '/fun/numberdle';">

                    <canvas id="myChart" width="800" height="400"></canvas>

                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                    <script>
                        const ctx = document.getElementById('myChart').getContext('2d');

                        const data = {
                          labels: {{ user_guesses|safe }},
                          datasets: [{
                            type: 'bar',
                            label: 'Other Players',
                            data: {{ counts }},
                            borderColor: 'rgb(255, 99, 132)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)'
                          }, {
                            type: 'bubble',
                            label: 'You',
                            data: [{}, {
                              x: {{numberdle_obj.guesses}} + ' guesses',
                              y: 1,
                              r: 10
                            }],
                            fill: true,
                            backgroundColor: 'rgb(254, 0, 235)'
                          }]
                        };

                        const myChart = new Chart(ctx, {
                          type: 'scatter',
                          data: data,
                          options: {
                              scales: {
                                  y: {
                                      beginAtZero: true
                                  }
                              }
                          }
                        });
                    </script>
                    {% else %}
                    <p><h2>Numbers ranging from 1 to 20 are hidden behind the five tiles. Figure out the hidden numbers.<br>
                    Input your guesses, and press check for clues.</h2></p>
                    {% endif %}
                    <form action="{% url 'fun:check_numberdle' %}" method="post">
                        {% csrf_token %}
                    {% for row in numberdle_obj.board %}
                    <div class="board__row">
                        <span class="tile--past--input"><span class="hint--bottom" type="number" aria-label="Input Number">{{row.0}}</span></span>
                        <span class="{{row.1|tile|safe}}"><span {{row.1|hint|safe}}>{{row.1}}</span></span>
                        <span class="{{row.2|tile|safe}}"><span {{row.2|hint|safe}}>{{row.2}}</span></span>
                        <span class="{{row.3|tile|safe}}"><span {{row.3|hint|safe}}>{{row.3}}</span></span>
                        <span class="{{row.4|tile|safe}}"><span {{row.4|hint|safe}}>{{row.4}}</span></span>
                        <span class="{{row.5|tile|safe}}"><span {{row.5|hint|safe}}>{{row.5}}</span></span>
                    </div>
                    <br>
                    {% endfor %}
                    {% if numberdle_obj.correct_guesses < 5 %}
                    <div id="row-input" class="board__row">
                      <input class="tile--input" type="number" name="player_guess" autofocus>
                      <input type="hidden" name="hidden_numberdle_obj" value=numberdle_obj>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <input type="submit" class="btn btn-primary" value="Check">
                    </div>

                     <p><h2>Number of Guesses: {{numberdle_obj.guesses}}</h2></p>

                    {% endif %}
                    </form>
            {% endif %}

            {% if error_message %}
                <p style="color:red;">Please input a number</p>
            {% endif %}
          <br>
          <input type="submit" class="btn btn-primary" value="New Game" onclick="location.href = '/fun/numberdle';">
          <input type="submit" class="btn btn-primary" value="Go To Hub" onclick="location.href = '/fun/';">
        </div>
    </main>
</body>
</html>