{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
    {% load gTTS %}
    {% load static %}

    <p><h1>{{ welcome }}</h1></p>

    {% if validation %}
        <p>{{ validation }}</p>
        <p>Here is another puzzle for you - </p>
    {% endif %}

    <p>{{ puzzle.question }}</p>
    <p style="display:none">{{ puzzle.solution }}</p>

    <form class="form" action="{% url 'fun:check_puzzle_answer' %}" method="post">
        {% csrf_token %}
        <div class="flex-left units-gap">
            <div class="unit">
                  <textarea id="Answer" name="Answer" autofocus placeholder="my answer..."></textarea>
            </div>
        </div>
        <button class="btn btn-primary" name="check_puzzle_answer">Check Answer</button>
    </form>
{% endblock %}