{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
    {% load static %}

<div>
    <h1>{{ welcome }}</h1>

    <script src="https://js.braintreegateway.com/web/dropin/1.36.0/js/dropin.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <div id="dropin-container"></div>
    <button id="submit-button" class="button button--small button--green">Purchase</button>
</div>

<script>
var button = document.querySelector('#submit-button');

braintree.dropin.create({
  authorization: 'sandbox_g42y39zw_348pk9cgf3bgyw2b',
  selector: '#dropin-container'
}, function (err, instance) {
  button.addEventListener('click', function () {
    instance.requestPaymentMethod(function (err, payload) {
      // Submit payload.nonce to your server
      $.ajax({
                  type: 'POST',
                  url: '{% url "fun:process_payment" %}',
                  data: {
                    'paymentMethodNonce': payload.nonce,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'}
              }).done(function (result) {
                 //do accordingly
              });
    });
  })
});
</script>

{% endblock %}