<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spelling Bee</title>
</head>
<body>
    {% load gTTS %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fun/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fun/flex.css' %}">

    <p><h1>Spelling Bee!!!</h1></p>

    <div class="flex-left">
      <div class="unit">
        <p><h2>Play Word</h2></p>
        <audio
        src="{% say language word %}"
        controls
        ></audio>

      </div>
      <div class="unit">
        <p><h2>Play Sentence</h2></p>
        <audio
        src="{% say language sentence %}"
        controls
        ></audio>
      </div>
    </div>

    <form class="form" method="post">
    {% csrf_token %}
        <input type="text" name="Enter Spelling" autofocus>
        <button class="btn btn-primary" name="check_spelling">Check Spelling</button>
        <button class="btn btn-primary" name="next_word">Next Word</button>
    </form>
    <canvas id="wordChart" width="800" height="300"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('wordChart').getContext('2d');

        const labels = {{ words|safe }};

        const data = {
          labels: labels,
          datasets: [
            {
              label: 'Incorrect',
              data: {{ word_incorrect|safe }},
              borderColor: 'rgb(255, 0, 0)',
              backgroundColor: 'rgba(255, 0, 0, 0.5)',
              borderWidth: 2,
              borderRadius: 10,
              borderSkipped: false,
            },
            {
              label: 'Correct',
              data: {{ word_correct|safe }},
              borderColor: 'rgb(0, 255, 0)',
              backgroundColor: 'rgba(0, 255, 0, 0.5)',
              borderWidth: 2,
              borderRadius: 5,
              borderSkipped: false,
            }
          ]
        };

        const wordChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'Words Spelling'
              }
            }
          },
        });
    </script>
    <br>
    <br>
    <canvas id="dateChart" width="800" height="300"></canvas>

    <script>
        const ctx1 = document.getElementById('dateChart').getContext('2d');

        const labels1 = {{ dates|safe }};

        const data1 = {
          labels: labels1,
          datasets: [
            {
              label: 'Incorrect',
              data: {{ date_incorrect|safe }},
              borderColor: 'rgb(255, 0, 0)',
              backgroundColor: 'rgba(255, 0, 0, 0.5)',
            },
            {
              label: 'Correct',
              data: {{ date_correct|safe }},
              borderColor: 'rgb(0, 255, 0)',
              backgroundColor: 'rgba(0, 255, 0, 0.5)',
            }
          ]
        };

        const dateChart = new Chart(ctx1, {
          type: 'line',
          data: data1,
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'Spelling Practice Score Trend'
              }
            }
          },
        });
    </script>

</body>
</html>