{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
    {% load static %}

    <div>
        <h1>{{ welcome }}</h1>

        <canvas id="superStarsChart" width="800" height="300"></canvas>
        <hr>
        <canvas id="risingStarsChart" width="800" height="300"></canvas>
        <hr>
        <canvas id="spyWinnersChart" width="800" height="300"></canvas>
        <hr>

        <!--canvas id="wordChart" width="800" height="300"></canvas-->

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx1 = document.getElementById('superStarsChart').getContext('2d');
            const ctx2 = document.getElementById('risingStarsChart').getContext('2d');
            const ctx3 = document.getElementById('spyWinnersChart').getContext('2d');

            const labels1 = {{ labelsSuperStars|safe }};
            const labels2 = {{ labelsRisingStars|safe }};
            const labels3 = {{ labelsSPYWinners|safe }};

            const data1 = {{ dataSuperStars|safe }};
            const data2 = {{ dataRisingStars|safe }};
            const data3 = {{ dataSPYWinners|safe }};

            const realtimeChart1 = new Chart(ctx1, {
              type: 'line',
              data: data1,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                    onClick: infopopup,
                  },
                  title: {
                    display: true,
                    text: 'Super Stars (Stocks with more than 0% performance gain every day for past 5 days)'
                  }
                },
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: 'Trading Date'
                    }
                  },
                  y: {
                    title: {
                      display: true,
                      text: 'Performance Increase %'
                    },
                    ticks: {
                      // forces step size to be 1 units
                      stepSize: 0.1
                    }
                  }
                }
              },
            });

            const realtimeChart2 = new Chart(ctx2, {
              type: 'line',
              data: data2,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                    onClick: infopopup,
                  },
                  title: {
                    display: true,
                    text: 'Rising Stars (Stocks which are continuously rising in performance every day for past 5 days)'
                  }
                },
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: 'Trading Date'
                    }
                  },
                  y: {
                    title: {
                      display: true,
                      text: 'Performance Increase %'
                    },
                    ticks: {
                      // forces step size to be 1 units
                      stepSize: 0.1
                    }
                  }
                }
              },
            });

            const realtimeChart3 = new Chart(ctx3, {
              type: 'line',
              data: data3,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                    onClick: infopopup,
                  },
                  title: {
                    display: true,
                    text: 'SPY Winners (Stocks which won over SPY in performance gain every day for past 5 days)'
                  }
                },
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: 'Trading Date'
                    }
                  },
                  y: {
                    title: {
                      display: true,
                      text: 'Performance Increase %'
                    },
                    ticks: {
                      // forces step size to be 1 units
                      stepSize: 0.1
                    }
                  }
                }
              },
            });

            function infopopup(evt, item, legend) {
                window.open('https://g.co/finance/' + item.text + ':NYSE')
            }

        </script>

        Performance Increase % = [100 * (Close Price - Open Price) / Open Price] %
    </div>

{% endblock %}


const labels = ['Jan 11', 'Jan 12', 'Jan 13'];
const data = {
  labels: labels,
  datasets: [
    {
      label: 'SPY',
      data: [1, 3, 5],
    },
    {
      label: 'UAL',
      data: [1.2, 3.6, 6.4],
    }
  ]
};