{% extends "./base_generic.html" %}

{% block content %}
{% load app_extras %}
    {% load static %}

    <div>
        <h1>{{ welcome }}</h1>

        <canvas id="superStarsChart" width="800" height="300"></canvas>

        <!--canvas id="wordChart" width="800" height="300"></canvas-->

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx1 = document.getElementById('superStarsChart').getContext('2d');

            const labels1 = {{ labels|safe }};

            const data1 = {{ data|safe }};

            const realtimeChart = new Chart(ctx1, {
              type: 'line',
              data: data1,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Super Stars (Stocks with more than 3% performance gain every day for past 3 days)'
                  }
                },
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: 'Trading Date'
                    }
                  },
                  y: {
                    title: {
                      display: true,
                      text: 'Performance Increase %'
                    },
                    ticks: {
                      // forces step size to be 1 units
                      stepSize: 0.1
                    }
                  }
                }
              },
            });
        </script>

        Performance Increase % = [100 * (Close Price - Open Price) / Open Price] %
    </div>

{% endblock %}


const labels = ['Jan 11', 'Jan 12', 'Jan 13'];
const data = {
  labels: labels,
  datasets: [
    {
      label: 'SPY',
      data: [1, 3, 5],
    },
    {
      label: 'UAL',
      data: [1.2, 3.6, 6.4],
    }
  ]
};