<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crazy Libs</title>
</head>
<body>
    {% load static %}

    {% if story %}
        <p>You might have heard of Mad Libs... Let's do some Crazy Libs!</p>
        <p style="display:none" >Original lib is:  {{ story }} </p>
        <form action="{% url 'helloapp:generate_crazy_libs' %}" method="post">
            {% csrf_token %}
        {% if nouns %}
        <ul>
            Please fill out the nouns:
        {% for noun in nouns %}
            <li><input type="text" name="input_noun_{{ noun }}"></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if verbs %}
        <ul>
            Please fill out the verbs:
        {% for verb in verbs %}
            <li><input type="text" name="input_verb_{{ verb }}"></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if adjectives %}
        <ul>
            Please fill out the adjectives:
        {% for adjective in adjectives %}
            <li><input name="input_adjective_{{ adjective }}"></li>
        {% endfor %}

        </ul>
        {% endif %}

            <input type="submit" type="text" value="Generate Crazy Lib">
        </form>

    {% elif crazyLibsObj %}

        <p>Crazy Lib is:  {{ crazyLibsObj.crazy_story | safe}} </p>

        <p id="original_lib" style="display:none">Original Lib is:  {{ crazyLibsObj | safe}} </p>


        <input type="submit" value="See Original Lib" onclick="getElementById('original_lib').style.display = 'block';">

        <input type="submit" value="Do Another Lib" onclick="location.href = '/helloapp/crazy_libs';">
    {% endif %}
    <br><br><br>
    <input type="submit" value="Go To Hub" onclick="location.href = '/helloapp/';">
</body>
</html>