<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numberdle</title>

<!--    UI Inspiration: https://github.com/minhlong149/wordle-->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'helloapp/wordle_style.css' %}">
</head>
<body>
    <p>Wordle of Numbers... This is Numberdle!</p>
    <main>
      <div class="board">
    {% load static %}
    {% load app_extras %}
        <p>Numbers ranging from 1 to 20 are hidden behind the five tiles. Your aim is to figure out each hidden number.
            Input your guesses, and press check for clues.</p>
          <br>
            {% if numberdle_obj %}
                <form action="{% url 'helloapp:check_numberdle' %}" method="post">
                {% csrf_token %}
                    {% for row in numberdle_obj.board %}
                    <div class="board__row">
                        <span class="tile--past--input">{{row.0}}</span>
                        <span class="{{row.1|tile|safe}}">{{row.1}}</span>
                        <span class="{{row.2|tile|safe}}">{{row.2}}</span>
                        <span class="{{row.3|tile|safe}}">{{row.3}}</span>
                        <span class="{{row.4|tile|safe}}">{{row.4}}</span>
                        <span class="{{row.5|tile|safe}}">{{row.5}}</span>
                    </div>
                    <br>
                    {% endfor %}
                    {% if numberdle_obj.correct_guesses == 5 %}
                        <p>Congratulations! You guessed all 5 numbers correctly!</p>
                    {% else %}
                    <div id="row-input" class="board__row">
                      <input class="tile--input" type="text" name="player_guess" autofocus>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <span class="tile"></span>
                      <input type="submit" class="button-input" value="Check">
                    </div>
                    {% endif %}
                </form>
            {% endif %}
          <p>Number of Guesses: {{numberdle_obj.guesses}}</p>
          <br>
          <input type="submit" class="button-input" value="New Game" onclick="location.href = '/helloapp/numberdle';">
          <input type="submit" class="button-input" value="Go To Hub" onclick="location.href = '/helloapp/';">
        </div>
    </main>
</body>
</html>